/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


header{
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

header nav{
	width: 60%;
	display: flex;
	justify-content: space-between;
}

header nav a{
	text-decoration: none;
	color: lightgray;
}

.innovation-section{
	display: flex;
	justify-content: space-around;
	padding: 30px;
	padding-bottom: 50px;
}

.innovation{
	padding: 50px;
	width: 40%;
	text-align: center;
}

.innovation h1{
	font-size: 70px;
}

.innovation p{
	display: inline-block;
	padding: 5px 15px;
	border: 1px solid black;
}

 hr{
	 width: 90%;
 }

.primary_info{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	padding: 20px 0px;
}

.features{
	padding: 20px 0px;
	text-align: left;
	width: 40%;
}
.middle-img{
	width: 90%;
	display: block;
	margin: 0 auto;
 }

 .three-sections{
	 width: 90%;
	 margin: 0 auto;
	 padding: 20px 0px;
	 display: flex;
	 justify-content: space-between;
 }

 .spv{
	 width: 30%;
	 padding: 20px 0px;
 }

.contact-section{
	width: 90%;
	padding-top: 20px;
	margin: 0 auto;
}
 address{
	 padding: 10px 0px;
 }

.contact-section a{
	line-height: 30px;
	text-decoration: none;
	color: inherit;
}

footer{
	text-align: center;
	padding: 10px;
}

/* services page */
.services-header-img{
	width: 90%;
	margin: 0 auto;
	display: block;
}

.services{
	width: 90%;
	margin: 0 auto;
	padding: 20px 0px;
}

.services h2{
	font-family: sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
}

.products{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.product_info{
	background: #E8E8E8	;
	padding: 20px;
	margin: 10px;
	border: 1px solid black;
	display: inline-block;
	width: 40%;
	line-height: 18px;
}

.product_info button{
	margin: 10px 0px;
	padding: 10px 25px;
	border: 1px solid black;
	border-radius: 5px;
}

.fact_container{
	width: 90%;
	margin: 10px auto;
	padding: 20px 0px 30px 0px;
	display: flex;
	justify-content: space-between;
}

.some_facts{
	width: 40%;
}

.some_facts ul{
	margin-left: 17px;
	line-height: 20px;
	padding-top: 10px;
	list-style-type: disc;
}

@media (max-width: 600px){

	header{
		align-items: flex-end;
		flex-direction: column-reverse;
	}

	header nav{
		padding: 20px 0px;
		align-items: flex-end;
		flex-direction: column-reverse;
	}

	.innovation-section{
		flex-direction: column-reverse;
		align-items: center;
		padding: 30px 0px;
		width: 90%;
	}

	.innovation{
		margin: 0 auto;
		width: 80%;
		padding: 20px 0px;
		text-align: center;
	}

	.innovation h1{
		text-align: center;
	}

	.primary_info{
		align-items: flex-start;
		flex-direction: column;
		width: 90%;
		margin: 0 auto;
		padding: 20px 0px;
	}

	.features{
		width: 100%;
	}

	.three-sections{
		flex-direction: column;
		align-items: flex-start;
		width: 90%;
		margin: 0 auto;
		padding: 20px 0px;
	}

	.spv{
		width: 100%;
	}

	.product_info{
		width: 80%;
	}

	.fact_container{
		flex-direction: column-reverse;
	}

	.some_facts{
		width: 80%;
		margin: 0 auto;
		padding: 20px 0px;
	}
}
